/*
Inspired by:
https://codepen.io/ayush602/pen/mdQJreW?editors=1100
https://codepen.io/fghty/pen/PojKNEG
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.8px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#b8bcff, #f7f7f7);
    /* background-image: url('logowhite.png');
    background-position: top left;
    background-repeat: no-repeat; */
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section .login {
    position: absolute;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgb(113, 123, 197, 0.3);
}

section .login .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

section .login .content h2 {
    font-size: 2em;
    color: #7c87d9;
    text-transform: uppercase;
}

section .login .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section .login .content .form .inputBox {
    position: relative;
    width: 100%;
}

section .login .content .form .inputBox input {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
    border: none;
    outline: none;
    padding: 25px 12px 12.5px;
    border-radius: 4px;
    color: rgb(124, 135, 217, 0.7);
    font-weight: 500;
    font-size: 1em;
}

section .login .content .form .inputBox i {
    position: absolute;
    left: 0;
    font-size: 0.8em;
    padding: 5px 10px;
    font-style: normal;
    color: rgb(124, 135, 217, 0.7);
    pointer-events: none;
}

.login .content .form .links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.login .content .form .links a {

    color: rgb(124, 135, 217, 0.7);
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: right;
}

.login .content .form .inputBox input[type="submit"] {
    padding: 10px;
    background: rgb(124, 135, 217, 0.8);
    color: #f7f7f7;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}